.swiperContainer {
    height: 100%; // Ensure the Swiper container takes up full height available
    display: flex;
    align-items: center; // This centers the slides vertically
    justify-content: center;
  
    .swiper-wrapper {
      align-items: center; // Ensures all slides are vertically centered
    }

  }
  
  .carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .carouselImage {
    max-width: 700px;
    max-height: 1000px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  
  .rightCursor {
    cursor: url('../../public/assets/right_arrow.svg'), auto; // Make sure this path points to your right arrow SVG icon
  }
  
  .leftCursor {
    cursor: url('../../public/assets/left_arrow.svg'), auto; // Make sure this path points to your right arrow SVG icon
  }
  