.galleryContainer {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    margin-top: 7rem;
    width: 100%; // Ensure the container takes full width

    &.animate {
        opacity: 1;
    }

}

.galleryGrid {
    display: grid;
    width: 100%; // Ensure the grid takes full width
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
    padding: 1rem 1rem 2rem 1rem; // Consolidate padding values
    overflow-y: auto; // Allow vertical scrolling
    

    @media (min-width: 640px) { // Small devices
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        padding: 4px 0 4px 6px;
    }

    @media (min-width: 800px) { // Medium devices
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        padding: 8px 0 8px 8px;
    }

    @media (min-width: 1250px) { // Large devices
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        padding: 10px 0 10px 10px;
    }

    @media (min-width: 1780px) { // Extra large devices
        grid-template-columns: repeat(3, 1fr);
        gap: 8rem;
        padding: 12px 0 12px 12px;
    }
}
