// Sidebar.module.scss
.button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: none; // Default to none, shown only in mobile view
    background: transparent;
    border: none;
    cursor: pointer;
}

.textIcon {
    color: #333;
    font-size: 24px;
}

.menu {
    display: none; // Default to none, shown only when active
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    z-index: 999;
}

.linkText {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .button {
        display: block; // Show button on small screens
    }
    .menu {
        display: block; // Make the menu displayable
    }
}
