@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/fonts/ACaslonPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Adobe Caslon Pro', serif; /* This ensures the font is applied as default */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll !important;
}

body > div > div {
  overflow: scroll !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-background {
  @apply relative min-h-screen bg-cover bg-center cursor-pointer;

  @media (max-width: 768px) {
    background-position: top;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    background-position: center;
  }
}


.mobile-button {
  @apply bg-white text-black py-2 px-4 rounded-md hover:bg-gray-200 transition-all duration-300;
}